@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'IBM Plex Mono';
    font-weight: bold;
}


body {
    background-color: rgb(255, 109, 109);
    margin: 0;
}

nav {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav h2 {
    background-color: pink;
    padding: 1.5vh;
    border-radius: 3vh;
    border: 3px solid #D9D9D9;
    font-family: 'IBM Plex Mono';
    font-weight: bolder;
    font-size: 2.4vh;
    margin: 2vh 4vh;
    color: #D9D9D9;
}

nav h1 {
    background-color: pink;
    padding: 2vh;
    width: 70%;
    border-radius: 3vh;
    border: 3px solid #D9D9D9;
    font-family: 'IBM Plex Mono';
    font-weight: bolder;
    font-size: 3.5vh;
    margin: 0 auto;
    color: #D9D9D9;
    text-align: center;
}

#logofull {
    width: 15rem;
    margin: 1rem;
    margin-left: 4.3rem;
}


#container {
    margin: 0 8vh;
    border-radius: 10px;
    height: 80vh;
}

.options {
    flex-direction: column;
    margin: 3vh;

}  

.option {
    margin: 1vh auto;

}

.optionumber {
    display: inline-block;
    margin: 0;
    font-size: 3vh;
    font-weight: bolder;
    border-radius: 10vh;
    border: 0.6vh solid white; 
    padding: 1vh 2vh;
}


.optioncontent {
    display: inline-block;
    margin: 0vh 2vh;
    width: 50vh;
    
}

.optioncontent:hover {
    cursor: pointer;
    animation: increaseSize 0.5s forwards; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.question {
    margin: 2vh auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes increaseSize {
    from {
        transform: scale(1.01);
    }
    to {
        transform: scale(1.03);
    }
}

#start-overlay, #timer-overlay, #correct-overlay, #wrong-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#correct-overlay .overlay-content {
    background-color: rgba(0, 128, 0, 0.308);
}

#correct-overlay button,
#correct-overlay h2 {
    background-color: rgb(1, 59, 1) !important;
}

#wrong-overlay .overlay-content {
    background-color: rgba(255, 0, 0, 0.274);
}

#wrong-overlay button,
#wrong-overlay h2 {
    background-color: red !important;
}
.overlay-content {
    background-color: rgba(0, 0, 0, 0.795);
    padding: 2rem;
    border-radius: 10vh;
    text-align: center;
}

.overlay-content h2, p {
    margin-top: 0;
    color: white;
    padding: 2vh;
    border-radius: 10vh;
    border: 0.6vh solid white; 
}

p {
    width: fit-content;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.overlay-content button {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    border: 0.6vh solid white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
}
