@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    background-color: gray;
    margin: 0;
}

nav {
    background-color: rgb(36, 36, 36);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav h2 {
    background-color: pink;
    padding: 1.5vh;
    border-radius: 3vh;
    border: 3px solid #D9D9D9;
    font-family: 'IBM Plex Mono';
    font-weight: bolder;
    font-size: 3.5vh;
    margin: 2vh 4vh;
}