@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #751818 !important; 
    overflow: hidden;
}

.contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #751818;
}



/* Estilos de la imagen del avatar */
.avatar {
    width: 90rem;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

#nameInput {
    border-radius: 3px;
    background-color: #E1B2B2;
    height: 2rem;
    width: 20rem;
    text-indent: 0.5rem;
    font-family: "IBM Plex Mono";
    font-weight: 900;
    font-size: medium;
    border: 2px solid #1E1E1E;
}



#enter:hover {
    cursor: pointer;
    animation: increaseSize 7s;
}

#svg-enter {
    height: 2.3rem;
}

#formularioLogin {
    display: flex;
    justify-content: center;
}

#text {
    margin-left: -15.1rem;
    margin-bottom: 0.4rem;
    font-family: "IBM Plex Mono";
    font-weight: 550;
    font-size: 1.3rem;
}


.contenedor-avatar {
    margin-top: -10rem;
}

.contenedor-avatar:not(#enter) {
    animation: increaseSize 20s infinite;
}

form input {
    vertical-align: top;
}

@keyframes increaseSize {
    0% {
        transform: scale(1.01);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}