@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #2B0909;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #2B0909;
    position: relative;
    display: flex;
    justify-content: space-between;
}



#logofull {
    width: 15rem;
    margin: 1rem;
    margin-left: 4.3rem;
}




#go-back {
    width: 4.2rem;
    margin-right: 4.3rem;
    cursor: pointer;
}

#go-back:hover {
    cursor: pointer;
    animation: increaseSize 0.2s forwards; 

}

.container {
    display: flex;
    width: 90%;
    height: 81%;
    margin: 0 auto;
    border-radius: 9px;
}

#egg {
    margin: 4vh;
    width: 30vh;
    margin-right: 0;
}

#egg:hover {
    animation: scaleAndShake 3s infinite; 

}

.column {
    display: inline-block;
    flex: 1;
    margin: 0 !important;
}

.column h2 {
    padding: 2vh;
    margin: 3vh auto;
    color: #D9D9D9;
    font-family: "IBM Plex Mono";
    text-align: center;
    font-size: 2.6vh;
    border-radius: 14px;
    border: 3px solid #D9D9D9;
    width: 38vh;
    background-image: url(/DucksDungeon/assets/burbuja-texto/huevito.svg);
    background-repeat: no-repeat;
    background-size: 2.5vh;
    background-position-x: 2vh;
    background-position-y: center;
}

h2.startGame {
    background-image: url(/DucksDungeon/assets/burbuja-texto/PLAY\ 1.svg);
    background-size: 5.5vh;
}


h2.obstacle {
    background-image: url(/DucksDungeon/assets/burbuja-texto/OBSTACLE.svg);
    background-size: 4.2vh;
}

#bubble {
    width: 50vh;
}

.container p {
    background-color: #D9D9D9;
    padding: 1vh 8vh;
    border-radius: 50px;
    width: 40vh;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    margin: 2vh auto;
}

h2:hover {
    background-color: #c803036b !important;
}

.startGame:hover {
    animation: increaseSize 0.5s forwards; 

}

@keyframes increaseSize {
    from {
        transform: scale(1.01);
    }
    to {
        transform: scale(1.03);
    }
}

@keyframes scaleAndShake {
    0% {
        transform: scale(1) translateX(0) rotate(0deg);
    }
    10% {
        transform: scale(1.03) translateX(-10px) rotate(-45deg);
    }
    20% {
        transform: scale(1.03) translateX(10px) rotate(45deg);
    }
    30% {
        transform: scale(1.03) translateX(-10px) rotate(-45deg);
    }
    40% {
        transform: scale(1.03) translateX(10px) rotate(45deg);
    }
    50% {
        transform: scale(1.03) translateX(-10px) rotate(-45deg);
    }
    60% {
        transform: scale(1.03) translateX(10px) rotate(45deg);
    }
    70% {
        transform: scale(1.03) translateX(-10px) rotate(-45deg);
    }
    80% {
        transform: scale(1.03) translateX(10px) rotate(45deg);
    }
    90% {
        transform: scale(1.03) translateX(-10px) rotate(-45deg);
    }
    100% {
        transform: scale(1.03) translateX(0) rotate(0deg);
    }
}