/* Restablecer algunos estilos predeterminados */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilos del contenedor de inicio de sesión */
.contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Estilos del contenedor del avatar */
.contenedor-avatar {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
}

/* Estilos de la imagen del avatar */
.avatar {
    width: 100px;
    height: auto;
}

/* Estilos para los elementos del formulario */
form label,
form input,
form input[type="submit"] {
    display: block;
    margin: 5px 0;
}
